[submodule "open-uds"]
	path = open-uds
	url = git@github.com:OpenAutoDiag/open-uds.git
[submodule "open-doip"]
	path = open-doip
	url = git@github.com:OpenAutoDiag/open-doip.git
[submodule "3rd-party/doip"]
	path = 3rd-party/doip
	url = git@github.com:OpenAutoDiag/external-doip.git
